# Build artifacts
dist/
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environnement
.env
.env.production
.env.local
.env.development

# Editor
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# OS
Thumbs.db
